/* line 3, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/screen.scss */
html,
body,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* @group mixins */
/* @end */
/* @group diamonds */
/* line 55, ../sass/screen.scss */
.diamonds {
  font: Helvetica, Arial, sans-serif;
  font-size: 0;
  margin: 40px auto;
}
@media only screen and (min-width: 1348px) {
  /* line 25, ../sass/screen.scss */
  .csstransforms .diamonds {
    max-width: 1270px;
  }
  /* line 29, ../sass/screen.scss */
  .csstransforms .diamonds > li:nth-child(9n+6) {
    margin-left: 135px;
  }
  /* line 33, ../sass/screen.scss */
  .csstransforms .diamonds > li:nth-child(9n+5) {
    margin-right: 0;
  }
  /* line 37, ../sass/screen.scss */
  .csstransforms .diamonds > li:nth-child(n+5) {
    margin-top: -55px;
  }
}
@media only screen and (max-width: 1347px) and (min-width: 1078px) {
  /* line 25, ../sass/screen.scss */
  .csstransforms .diamonds {
    max-width: 1000px;
  }
  /* line 29, ../sass/screen.scss */
  .csstransforms .diamonds > li:nth-child(7n+5) {
    margin-left: 135px;
  }
  /* line 33, ../sass/screen.scss */
  .csstransforms .diamonds > li:nth-child(7n+4) {
    margin-right: 0;
  }
  /* line 37, ../sass/screen.scss */
  .csstransforms .diamonds > li:nth-child(n+4) {
    margin-top: -55px;
  }
}
@media only screen and (max-width: 1077px) and (min-width: 808px) {
  /* line 25, ../sass/screen.scss */
  .csstransforms .diamonds {
    max-width: 730px;
  }
  /* line 29, ../sass/screen.scss */
  .csstransforms .diamonds > li:nth-child(5n+4) {
    margin-left: 135px;
  }
  /* line 33, ../sass/screen.scss */
  .csstransforms .diamonds > li:nth-child(5n+3) {
    margin-right: 0;
  }
  /* line 37, ../sass/screen.scss */
  .csstransforms .diamonds > li:nth-child(n+3) {
    margin-top: -55px;
  }
}
@media only screen and (max-width: 807px) and (min-width: 538px) {
  /* line 25, ../sass/screen.scss */
  .csstransforms .diamonds {
    max-width: 460px;
  }
  /* line 29, ../sass/screen.scss */
  .csstransforms .diamonds > li:nth-child(3n+3) {
    margin-left: 135px;
  }
  /* line 33, ../sass/screen.scss */
  .csstransforms .diamonds > li:nth-child(3n+2) {
    margin-right: 0;
  }
  /* line 37, ../sass/screen.scss */
  .csstransforms .diamonds > li:nth-child(n+2) {
    margin-top: -55px;
  }
}
/* line 65, ../sass/screen.scss */
.csstransforms .diamonds {
  padding: 39px 0;
}
@media only screen and (max-width: 537px) {
  /* line 65, ../sass/screen.scss */
  .csstransforms .diamonds {
    padding: 0;
    text-align: center;
  }
}
/* line 74, ../sass/screen.scss */
.no-csstransforms .diamonds {
  max-width: 1060px;
}
/* line 78, ../sass/screen.scss */
.diamonds > li {
  display: inline-block;
  font-size: 18px;
  margin-right: 80px;
}
@media only screen and (max-width: 537px) {
  /* line 78, ../sass/screen.scss */
  .diamonds > li {
    margin-right: 0;
    width: 160px;
  }
}
/* line 88, ../sass/screen.scss */
.no-csstransforms .diamonds > li {
  margin: 0 20px 20px 0;
}
/* line 93, ../sass/screen.scss */
.diamonds .diamond {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #f4f4f4;
  -webkit-box-shadow: 0 0 0 1px #cccccc;
  -moz-box-shadow: 0 0 0 1px #cccccc;
  box-shadow: 0 0 0 1px #cccccc;
  color: #000;
  display: block;
  height: 190px;
  overflow: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  position: relative;
  text-decoration: none;
  width: 190px;
}
/* line 106, ../sass/screen.scss */
.csstransforms .diamonds .diamond {
  overflow: hidden;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media only screen and (max-width: 537px) {
  /* line 106, ../sass/screen.scss */
  .csstransforms .diamonds .diamond {
    height: 160px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    width: 160px;
  }
}
/* line 118, ../sass/screen.scss */
.diamonds .content {
  display: table-cell;
  height: 190px;
  padding: 0 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  text-align: center;
  vertical-align: middle;
  width: 190px;
}
@media only screen and (max-width: 537px) {
  /* line 128, ../sass/screen.scss */
  .csstransforms .diamonds .content {
    height: 160px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    width: 160px;
  }
}

/* @end */
